body {
  margin: 0;
  background-color: #ccc;
}

#elegir {
  display: flex;
}
#elegir li {
  list-style: none;
}
#elegir img {
  width: 140px;
  height: 150;
  cursor: pointer;
}
p {
  vertical-align: middle;
  font-size: 1.8em;
}
